.editor-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 {
  height: 90%;
  background-color: var(--section-background-color);
  position: absolute;
  left: 20px;
  z-index: 1000;
  border-radius: 20px;
  overflow: auto;
  width: 250px;
}

.website-showcase-iframe {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.section-2 {
  height: 90%;
  min-width: 250px;
  width: max-content;
  background-color: var(--section-background-color);
  position: absolute;
  right: 20px;
  z-index: 1000;
  overflow: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.dragable-object {
  height: 3%;
  width: 100%;
  background-color: grey;
  border-top-left-radius: 20px;
  &:hover {
    cursor: grab;
  }
}

.custom-border {
  border: solid lightblue 2px;
  position: absolute;
  z-index: 900;
  pointer-events: none;
  opacity: 0;
  .custom-border-relative {
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
    .custom-border-dot {
      height: 1.4em;
      aspect-ratio: 1/1;
      background-color: lightblue;
      position: absolute;
      pointer-events: all;
    }
    .custom-border-top-dot {
      left: 50%;
      transform: translateX(-50%);
      top: -1.4rem;
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
    }
    .custom-border-bottom-dot {
      left: 50%;
      bottom: -1.4em;
      transform: translateX(-50%);
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
    }
    .custom-border-left-dot {
      top: 50%;
      transform: translateY(-50%);
      left: -1.4em;
      border-bottom-left-radius: 100%;
      border-top-left-radius: 100%;
    }
    .custom-border-right-dot {
      top: 50%;
      right: -1.4em;
      transform: translateY(-50%);
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
    }
    .custom-border-top-inner-dot {
      top: 0em;
      height: 0.7em;
      left: 50%;
      transform: translateX(-50%);
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .custom-border-bottom-inner-dot {
      bottom: 0em;
      height: 0.7em;
      left: 50%;
      transform: translateX(-50%);
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .custom-border-right-inner-dot {
      right: 0em;
      height: 0.7em;
      top: 50%;
      transform: translateY(-50%);
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .custom-border-left-inner-dot {
      left: 0em;
      height: 0.7em;
      top: 50%;
      transform: translateY(-50%);
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    //margin
    .margin-border-top-dot {
      background-color: orange;
      top: -1.4em;
      left: 30%;
      height: 1.4em;
      width: 1.4em;
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .margin-border-bottom-dot {
      background-color: orange;
      bottom: -1.4em;
      left: 30%;
      height: 1.4em;
      width: 1.4em;
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .margin-border-left-dot {
      background-color: orange;
      left: -1.4em;
      top: 30%;
      height: 1.4em;
      width: 1.4em;
      border-bottom-left-radius: 100%;
      border-top-left-radius: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .margin-border-right-dot {
      background-color: orange;
      right: -1.4em;
      top: 30%;
      height: 1.4em;
      width: 1.4em;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .margin-border-top-inner-dot {
      background-color: orange;
      top: 0em;
      left: 30%;
      height: 0.7em;
      width: 0.7em;
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .margin-border-bottom-inner-dot {
      background-color: orange;
      bottom: 0em;
      left: 30%;
      height: 0.7em;
      width: 0.7em;
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .margin-border-left-inner-dot {
      background-color: orange;
      left: 0em;
      top: 30%;
      height: 0.7em;
      width: 0.7em;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .margin-border-right-inner-dot {
      background-color: orange;
      right: 0em;
      top: 30%;
      height: 0.7em;
      width: 0.7em;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    //padding
    .padding-border-top-dot {
      background-color: green;
      top: -1.4em;
      left: 70%;
      height: 1.4em;
      width: 1.4em;
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .padding-border-bottom-dot {
      background-color: green;
      bottom: -1.4em;
      left: 70%;
      height: 1.4em;
      width: 1.4em;
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .padding-border-left-dot {
      background-color: green;
      left: -1.4em;
      top: 70%;
      height: 1.4em;
      width: 1.4em;
      border-bottom-left-radius: 100%;
      border-top-left-radius: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .padding-border-right-dot {
      background-color: green;
      right: -1.4em;
      top: 70%;
      height: 1.4em;
      width: 1.4em;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .padding-border-top-inner-dot {
      background-color: green;
      top: 0em;
      left: 70%;
      height: 0.7em;
      width: 0.7em;
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .padding-border-bottom-inner-dot {
      background-color: green;
      bottom: 0em;
      left: 70%;
      height: 0.7em;
      width: 0.7em;
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .padding-border-left-inner-dot {
      background-color: green;
      left: 0em;
      top: 70%;
      height: 0.7em;
      width: 0.7em;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .padding-border-right-inner-dot {
      background-color: green;
      right: 0em;
      top: 70%;
      height: 0.7em;
      width: 0.7em;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .custom-border-margin-marker {
      background: rgba($color: orange, $alpha: 0.5);
      height: 0;
      width: 0;
      opacity: 0;
      position: absolute;
    }
    .custom-border-padding-marker {
      background: rgba($color: green, $alpha: 0.5);
      height: 0;
      width: 0;
      opacity: 0;
      position: absolute;
    }
  }
}
