.editor-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-showcase-iframe {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
